html, body, #home {

    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../imagens/fundo1.png), 
                /*url(../imagens/ruido.png),*/
                linear-gradient(50deg,#fff3cd,#fff);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

nav.navbar-transparente {
    padding:15px 0 ;
    background: rgba(0, 0, 0, 0.6);
}

ul li a:hover, a.selecionado  {
    color: #fff;
    background: #de003e;
    cursor: text;
}

footer {
    background: yellow; 
    border-radius: 10px;;
    padding: 5%;
    margin-top: 0;
}

footer a {
    color: black;
    padding: 10px 20px;
}

footer a:hover {
    color: red;
    font-size: 1.2em;
    padding: 10px 20px;
}

a {
    color: white;
}  

a:hover {
    color:lightgray;
}

.caixa {
    padding: 60px 0; 
    border-bottom:  1px solid black;
}

.bg-purple {
    background: #6207e3;
    border-radius: 10px;
}

.divisor {
    width: 1px;
    background:white ;
    margin: 12px 15px;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius:  500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color  0.4s;
    padding: 10px 20px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .btn-custom {
    margin: 10px 15px;
    font-size: 1em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    .btn-custom {
    margin: 10px 15px;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    h1 {
        font-size: 4em;
    }

    .btn-custom {
        margin: 10px 15px;
        }
    }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

.btn-custom {
        margin: 10px 15px;
    }


h1 {
    font-size: 5em;
}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    margin-bottom: 2px;
    margin-top: 2px;
}