#caixa {
	display: inline-block;
	width: 300px;
	height: 300px;
	background: #b9c941;
	color: white;
	padding: 20px;
	margin: 20px;
	text-align: center;
	float: left;
	-webkit-border-radius: border-box;
    -moz-border-radius: border-box; 
	box-sizing: border-box;
	/*line-height: 20px;
	letter-spacing: 5px;*/
	/*top: 75%;
	left: 50%; verificar o motivo de não estar sendo aplicado*/
	border: 1px solid red;
}

#caixa1 {
	display: inline-block;
	width: 300px;
	height: 300px;
	background: #b9c941;
	color: white;
	padding: 20px;
	margin: 20px;
	text-align: center;
	float: left;
	border-radius: 50% /*por pixel = 150px ou percentual*/;
	/*line-height: 20px;
	letter-spacing: 5px;*/
	/*top: 75%;
	left: 50%; verificar o motivo de não estar sendo aplicado*/
	border: 1px solid red;
}

#caixa2 {
	display: inline-block;
	border: 1px solid red;
	width: 300px;
	height: 300px;
	background: #b9c941;
	color: purple;
	padding: 20px;
	margin: 20px;
	text-align: center;
	float: left;
	border-radius: 10px 50px 80px 120px /*por pixel = 150px ou percentual*/;
	/*line-height: 20px;
	letter-spacing: 5px;*/
	/*top: 75%;
	left: 50%; verificar o motivo de não estar sendo aplicado*/
}

#caixa3 {
	border: 1px solid red;
	display: inline-block;
	width: 300px;
	height: 300px;
	background: #b9c941;
	color: purple;
	padding: 20px;
	margin: 20px;
	text-align: center;
	float: left;
	-webkit-border-radius: 20px 80px;
    -moz-border-radius: 20px 80px; 
	border-radius: 20px 80px /*por pixel = 150px ou percentual*/;
	/*line-height: 20px;
	letter-spacing: 5px;*/
	/*top: 75%;
	left: 50%; verificar o motivo de não estar sendo aplicado*/
}

.arredondamento {
	border-radius: 50%;
	margin: 20px;
	padding: 20px;
}

