body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.caixa {
	width: 400px;
	/*border: 1px solid red;*/
	background: #dedede /*url(../imagens2/topo.png) no-repeat left top*/;

	background-image: url(../imagens2/topo.png), url(../imagens2/baixo.png);
    background-position: left top, left bottom;
    background-repeat: no-repeat;
}

.caixa2 {
	width: 400px;
	/*border: 1px solid red;*/
	background: /*#dedede url(../imagens2/topo.png) no-repeat left top*/;

	background-image: url(../imagens2/topo2.png), url(../imagens2/baixo2.png), url(../imagens2/fundo-arredondamento.png);




    background-position: left top, left bottom;
    background-repeat: no-repeat, no-repeat, repeat-y;
}

.caixa p {
	/*background: url(../imagens2/baixo.png) no-repeat left bottom;*/
	padding: 0px 20px 0 20px;
}

.caixa h2 {
	padding: 10px 20px 5px 20px;
}

.caixa2 p {
	/*background: url(../imagens2/baixo.png) no-repeat left bottom;*/
	padding: 0px 20px 5px 20px;
}

.caixa2 h2 {
	padding: 10px 20px 0 20px;
}

